<form name="websiteForm" ng-submit="websiteForm.$valid && sourceCtrl.generateReferences('website')" novalidate>
	<div class="form-group">
		<label for="siteName">Website Name</label>
		<input type="text" class="form-control" ng-model="sourceCtrl.source.siteName" placeholder="Website Name" required>
	</div>

	<div class="form-group">
		<label for="pageTitle">Page Title</label>
		<input type="text" class="form-control" ng-model="sourceCtrl.source.pageTitle" placeholder="Page Title" required>
	</div>

	<div class="form-group">
		<label for="year" class="control-label">Year Published</label>
		
		<select class="form-control" id="year" ng-model="sourceCtrl.source.year">
			<option ng-repeat="year in generateYears(2015, 1975)">{{year}}</option>
		</select>
	</div>

	<div class="form-group">
		<label class="control-label">Authors</label>
	</div>

	<div ng-repeat="a in sourceCtrl.source.authors">
		<div class="form-group form-inline">

			<div class="form-group">
				<label for="author1" class="control-label">Author {{ a.count }}: </label>
			</div>

			<div class="form-group">
				<input type="text" class="form-control" ng-model="a.firstName" placeholder="First Name">
			</div>

			<div class="form-group">
				<input type="text" class="form-control" placeholder="Last Name" ng-model="a.lastName">
			</div>
		</div>
	</div>

	<button class="btn btn-default" type="button" ng-click="sourceCtrl.addAuthor()">Add Author</button>

	<button class="btn btn-warning" type="button" ng-click="sourceCtrl.removeAuthor()" ng-disabled="sourceCtrl.numAuthors() == 1;">Remove Author</button>

	<hr>

	<div class="form-group">
		<label for="url">URL</label>
		<input type="url" class="form-control" ng-model="sourceCtrl.source.url" placeholder="http://" required>

	</div>

	<div class="form-group">
		<label for="dateAccessed">Date accessed</label>
		<input type="date" class="form-control" id="datePickerWebsite" ng-model="sourceCtrl.source.date" required>
	</div>

	<div class="form-group" ng-include src='"./referenceTypes.html"'></div>

	<button type="submit" class="btn btn-primary">Generate</button>
	</form>

	<script type="text/javascript">
		document.getElementById('datePickerWebsite').valueAsDate = new Date();

	</script>